html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    font-size: 16pt;
}

body {
    background: #eeeeee;
}

#header {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    background: #2d3e50;
    overflow: hidden;
    padding: 2px;
    color: #eeeeee;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

#handle {
    position: fixed;
    top: 0
    height: 5%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

#footer {
    position: fixed;
    padding: 2px;
    bottom: 0;
    width: 100%;
    background: #000000;
    color: #cccccc;
    overflow: hidden;
    text-align: center;
}

#preview {
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background: #888888;
    overflow-y: scroll;
    overflow-x: hidden;
}

#content {
    padding: 1em;
}

#content img {
    padding: 1em;
}

#fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.menu.left {
    padding-left: 10px;
    float: left;
}

.menu.right {
    padding-right: 10px;
    float: right;
}

.nav {
    font-size: 3em;
}

.hidden {
    display: none;
}

.menu a {
    text-decoration: inherit;
    color: inherit;
}

.disabled {
    opacity: 0.5;
}

div.thumbnail {
    border: 1px solid #2d3e50;
    margin: 5px;
    width: 15vw;
    height: 15vh;
    padding: 0;
    overflow: hidden;
}

div.thumbnail .overlay {
    position: absolute;
    width: 15vw;
    height: 15vh;
    text-align: right;
    z-index: 2;
}

div.thumbnail .overlay h2 {
    margin: 0px;
    padding: 5px;
    color: #2d3e50;
    text-shadow: 2px 2px #ffffff;
}

iframe.thumbnail {
    border: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
/*     zoom: 0.5; */
    -moz-transform: scale(0.15);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.15);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.15);
    -webkit-transform-origin: 0 0;
    background: #eeeeee;
}

code {
    display: block;
    background-color: #c6d7e9;
    padding: 1em;
}

table {
    background: #FFFFFF;
}

table thead th {
    background: #ced7e3;
}

table tbody tr:nth-child(2n) {
    background: #eff2f6;
}
