html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    font-size: 16pt;
}

#header {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    background: #2d3e50;
    overflow: hidden;
    padding: 2px;
    color: #eeeeee;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

#footer {
    position: fixed;
    padding: 2px;
    bottom: 0;
    width: 100%;
    background: #000000;
    color: #cccccc;
    overflow: hidden;
    text-align: center;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#preview {
    position: absolute;
    left: 0;
    width: 10%;
    height: 100%;
    background: #aaffff;
    overflow-y: scroll;
    overflow-x: hidden;
}

#content {
    position: absolute;
    right: 0;
    height: 100%;
    background: #ffaaff;
    overflow: auto;
}

.menu.left {
    padding-left: 10px;
    float: left;
}

.menu.right {
    padding-right: 10px;
    float: right;
}

.nav {
    font-size: 3em;
}

.hidden {
    display: none;
}

.menu a {
    text-decoration: inherit;
    color: inherit;
}

.disabled {
    opacity: 0.5;
}
